## Notebook / 4 May 2021

a-2021-05-04.ipynb

## Input Data

In [1]:
import paper as pa
import standard_data as sdata
sdata.input_set.style.set_caption("<b style='background-color: yellow;'>Table 0: Input Data</b>")

## Analysis for each papers

In [2]:
TRESHOLD = 92

In [3]:
pa.topics_that_are_sufficient_to_reach_the_threshold(sdata.input_set,rownum = 0,treshold = TRESHOLD )['as_df'].style.set_caption("Table 1: Analysis for paper p1")

In [4]:
pa.topics_that_are_sufficient_to_reach_the_threshold(sdata.input_set,rownum = 1,treshold = TRESHOLD )['as_df'].style.set_caption("Table 2: Analysis for paper p2")

In [5]:
pa.topics_that_are_sufficient_to_reach_the_threshold(sdata.input_set,rownum = 2,treshold = TRESHOLD )['as_df'].style.set_caption("Table 3: Analysis for paper p3")

In [6]:
pa.topics_that_are_sufficient_to_reach_the_threshold(sdata.input_set,rownum = 3,treshold = TRESHOLD )['as_df'].style.set_caption("Table 4: Analysis for paper p4")

## Report

In [7]:
for index,row in sdata.input_set.iterrows():
    reat = pa.topics_that_are_sufficient_to_reach_the_threshold(sdata.input_set,
                                                                                rownum = index,
                                                                                treshold=TRESHOLD)
    sdata.input_set.at[index,'number of topics that are sufficient to reach the threshold'] = reat['as_count']
    sdata.input_set.at[index,'label of topics that are sufficient to reach the threshold'] = reat['as_topic_labels']

In [8]:
sdata.input_set.style.set_table_styles([dict(selector="th",props=[('max-width', '100px')])]).set_caption("Table 5: Analysis for each paper")